protocol.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) -->
<!--W3C Schema generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="utilizador.xsd"/>
	<xs:element name="protocol">
		<xs:complexType>
			<xs:choice>
			<xs:element name="login">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nif" type="xs:string" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="reply" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Utilizador" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="consultar">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType/>
							</xs:element>
							<xs:element name="reply" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Peça" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>
